
*           { margin:0;padding:0;border:0;outline:0;text-decoration:none;font-weight:inherit;font-style:inherit;color:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none;border-collapse:separate;border-spacing:0; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; font-family: 'Input Mono';}
*:focus         { outline: none}

body { background:#111;}

.status { background:#111; color:#999; line-height: 20px; font-size:12px; text-transform: uppercase;width:calc(100vw - 175px); left:175px; position: absolute;}
.status a { display: inline-block;line-height: 45px;padding: 0px 15px 0px 15px; }
.status a.active { color: #555; background:#222;}
.status a:hover { color:#777; cursor: pointer}
.status #tab_render #save { color: #111;background: #ffe7a5;line-height: 20px;display: none;padding: 0px 4px;border-radius: 2px;}
.status #tab_render #save:hover { background:#fff;}
.status #tab_leaderboard { float:right;}

.entry { display: block;unicode-bidi: embed;white-space: pre;padding:15px;width:calc(100vw - 30px - 175px);min-width:calc(100vw - 30px - 175px);height:calc(100vh - 75px);max-height:calc(100vh - 65px);position: absolute; top:45px; left:175px;border:0px; line-height: 20px; font-size:12px; overflow: hidden}
.entry#terminal { background: transparent; z-index:9000; color:rgba(0,0,0,0); resize: none;}
.entry#render, .entry#timeline, .entry#documentation, .entry#leaderboard { background: #222; color:#999; z-index:0; resize: none; }
.entry#timeline, .entry#documentation, .entry#leaderboard { display: none }

/* Terminal */
.sh_case { color:#666; background:#000;}
.sh_action { color:#fff;}
.sh_indent { color:#444;}
.sh_event { color:#fff; display:inline-block; border-bottom: 1px solid #444; line-height: 12px}
.sh_method { color:#ffe7a5;}
/* Timeline */
blindfolk { display:inline; color:#ffe7a5; }
phase { display:inline; color:#555; }
riposte { display: inline-block; padding-left:15px; line-height: 0px}

.options { color:white; width:175px;line-height: 17px;font-size:11px;top: 0px;position: absolute;}
.options li { padding:0px 30px; color:#777;}
.options li strong { color:#ffe7a5;}
.options li a { color:white; text-decoration: underline;}
.options li i { font-style: normal; color: #aaa}
.options .logo { padding:30px; width:115px; height:115px; display:block; margin-bottom: 15px;}
.options .logo svg { overflow: visible;}
.options .logo svg * { stroke:white;stroke-width:1 }
.options .player,.options .server { margin-bottom: 30px}

#player_respawn { cursor: pointer; color:#ffe7a5; text-decoration: underline;}





